<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1 class="header-container">
            Miki's Music Blog
        </h1>
        <p class="header-desc">hi!</p>
        <div class="header-image"></div>
    </header>
</body>
</html>