<nav class="desk">
    <ul role="list" class="desk-nav">
        <li>
            <a href="/" class="nav-item-desk">home</a>
        </li>
<li>
    <a href="/blogs/" class="nav-item-desk">blog</a>
</li>
    </ul>
</nav>