body{
    background-color: rgb(233, 217, 193);
}
h1{
    color: rgb(33, 2, 2);
    text-align: center;
}
header{
    font-family:verdana;
    font-size: 20px;
}
class{
    color: rgb(75, 37, 31);
}
md{
    color: rgb(45, 6, 6);
}
